---
layout: null
---
<html>

<head>
  <title>
    {{ site.title }}
  </title>
  {% include common_head.html %}
  <meta name="description" content="{{ site.description }}" />
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_US">
  <meta property="og:url" content="https://pricelessai.com">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image" content="{{ site.url }}/assets/PricelessAILogo.png">
</head>

<body>
  {% include header.html %}
  <section class="home">
    <p class="description">
      Address your labor shortage, serve your customers more efficiently, and compete with the big companies. We empower you to do more with less 🦾.
    </p>

    <p class="description">
      We equip robots with advanced vision and intelligence to handle variable and unstructured tasks more effectively.
    </p>

    <p class="description">
      Our technology powers both large and small robots, enabling tasks like truck and van unloading, as well as sorting and pick-and-pack operations.
    </p>

    <div class="image-container">
      <div class="image-item">
        <img src="assets/unloading_truck.gif" alt="Robots packing croissant in plastic containers" class="gif">
        <a href="https://picklerobot.com" onclick="fathom.trackEvent('pickle_robot_click');" target="_blank">Pickle Robot</a>
      </div>
      <div class="image-item">
        <img src="assets/yumi_waste_sorting.gif" alt="Robots packing croissant in plastic containers" class="gif">
        <a href="https://www.youtube.com/shorts/32QAM5CbW-4" onclick="fathom.trackEvent('max_ai_click');" target="_blank">Max-AI</a>
      </div>
      <div class="image-item">
        <img src="assets/packing_croissant.gif" alt="Robots packing croissant in plastic containers" class="gif">
        <a href="https://youtu.be/O49kkVk9cfY?si=R2O_G9Xy_AjZKaef" onclick="fathom.trackEvent('gripwiq_click');" target="_blank">GRIPWIQ</a>
      </div>
    </div>


    <p class="description">
      Test our robot for two weeks—no upfront costs, and we'll handle shipping and setup. If it's not a fit, just send it back. No questions asked. Just make sure you take good care of our robots 🤖 😇
    </p>

    <p class="description">
      If you're satisfied with our robots and the value they bring to your business, you can continue renting them for <br><strong>£1,000</strong> per week.
    </p>

    <p class="description">
      If you are interested in learning more, please fill the form below.
    </p>

    <div data-tf-live="01JGPN3GQ69Q5QVKPZA72FFBP7"></div>

  </section>
  <article></article>
  {% include footer.html %}
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="assets/smooth_scrolling.js"></script>
<script src="//embed.typeform.com/next/embed.js"></script>