---
layout: null
---
<html>

<head>
  <title>
    {{ site.title }}
  </title>
  {% include common_head.html %}
  <meta name="description" content="{{ site.description }}" />
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:type" content="profile">
  <meta property="og:locale" content="en_US">
  <meta property="og:url" content="https://barac.at">
  <meta property="profile:first_name" content="Ahmad">
  <meta property="profile:last_name" content="Baracat">
  <meta property="profile:gender" content="male">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image" content="{{ site.url }}/assets/london_profile_circular_500.png">
</head>

<body>
  {% include header.html %}
  <section class="home">

    <h2>
      Me 😅
    </h2>
    <p>
      🚀 I believe that startups are the key drivers of economic growth and innovation. Read <a href="http://paulgraham.com/wealth.html">Paul Graham</a> and <a href="https://nav.al/rich">Naval Ravikant</a> articles to understand what wealth means for me.
    </p>

    <p>
      💻 I used to work at Amazon (Dynamic Advertising & Alexa) & Meta (Facebook) where my focus was on machine learning engineering and computer vision.
    </p>

    <p>
      👾 I enjoy training and deploying computer vision deep learning models for classification, object detection and segmentation ranging from multi-band Satellite images and Scanning Electron Microscopy (SEM) images to customer facing images for Amazon Alexa.
    </p>

    <p>
      ❤️ My interests include entrepreneurship, education, design, engineering, economics and cognitive psychology
    </p>
    🕹 10 years ago, I created games for Windows Phone (I bet on Windows Phone and obviously lost 😅). Along with my brother, who created the visual designs, we created 5+ games. Some were featured by Microsoft in 150+ countries. <a href="/apps">Check them out</a>.
    </p>

    <p>
      🇪🇬 I am from Egypt where I lived in Cairo for 26 years and I have been living in the UK 🇬🇧 (Edinburgh & London) for the past few years.
    </p>

    <p>
      🎹 I played the Piano seriously (thank you Mami & Nana) from age 7-19 (earned Trinity College London grade 8) and casually since then. You can listen to me playing on <a href="https://soundcloud.com/ahmadbaracat">SoundCloud</a> & <a href="https://www.youtube.com/playlist?list=PLfiRwmXxK27stnypbsVZyq_V3SVSlk8Iz">Youtube</a>.
    </p>

    <p>
      🎾 I played Tennis seriously (thank you Papi) from age 7-16 and casually since then.
    </p>

    <p>
      🏃🏻‍♂️I love to run and usually run ~6km in 30 mins and occasionally longer distances.
    </p>

    <p>
      📚 I love to read. I keep track of the books I read <a href="/#reading">here</a>.
    </p>

    <p>
      👨🏻‍🏫 I love to teach. I created data science lectures in Arabic. You can check <a href="/courses">their page</a>. They are available on SkillShare and Youtube.
    </p>

    <p>
      ✏️ I enjoy writing essays. You can read them on <a href="https://blog.barac.at">my blog</a>.
    </p>

    <p>
      🦦 My favorite animals are beavers as they have strong family bonds and their engineering work can literally change the landscape. Watch <a href="https://youtu.be/eQHADullAzk">this National Geographic documentary</a> to learn more.
    </p>

    <h2 id="highlights">
      Timeline & Highlights
    </h2>

    <h3>2022</h3>
    <ul>
      <li>Machine Learning + Economics + Data Dignity</li>
      <ul>
        <li>Working on a research proposal + a startup funding pitch for <a href="https://blog.barac.at/a-business-experiment-in-data-dignity">an experiment in Data Dignity and incentives alignment</a> between ML builders and domain experts</li>
      </ul>
      <li>web3</li>
      <ul>
        <li>Created an <a href="https://goerli.etherscan.io/address/0x3ca031d5aaf0d2ad6815eb17e014973332557505">NFT staking smart contract</a>: stake NFTs and get yield in ERC20 tokens. Includes React admin dashboard to configure yield metadata and customer-facing frontend to stake and collect yield.</li>
        <li>Created an <a href="https://goerli.etherscan.io/address/0xaa7dd76df66b4c9658c0d628fd1b4871d72c9917">NFT minting smart contract</a> on Ethereum (allowing metadata updates) + React Web App</li>
        <li>Bought <a href="https://app.ens.domains/name/baracat.eth/details">baracat.eth</a> 😅💪</li>
      </ul>
    </ul>

    <h3>2020-2021</h3>
    </h3>
    <h4>Machine Learning in Marketing</h4>
    <ul>
      <li>Worked on ML-based lead scoring model for Meta (Facebook) Workplace marketing team</li>
    </ul>


    <h3>2017-2020</h3>
    <h4>Machine Learning & Computer Vision</h4>
    <ul>
      <li>Created an <a href="/courses">Introduction to Data Science course</a> for Arabic speaking students</li>
      <li>Designed and built an ML-based system to measure the relevance between any image and any entity in the Alexa Knowledge Graph. Think “Alaskan Husky” vs “Siberian Husky” as opposed to “Husky” vs. “Bulldog”</li>
      <li>Designed and built the neural networks end-to-end production pipeline (training, testing and deployment) at Amazon Dynamic Advertising</li>
      <li>Awarded silver medal 🥈 (top 5% out of 934 teams) in the <a href="https://www.kaggle.com/c/planet-understanding-the-amazon-from-space">Planet: Understanding the Amazon from Space</a> Kaggle competition</li>
    </ul>

    <h3>2011-2016</h3>
    <h4>Mobile Games & Apps</h4>
    <ul>
      <li>Created mobile games & apps for Windows Phone, Android and iOS with 300K+ customers and featured by Microsoft in 150+ countries</li>
    </ul>
  </section>
  {% include footer.html %}
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="assets/smooth_scrolling.js"></script>