---
layout: null
---
<html>

<head>
  <title>
    {{ site.title }}
  </title>
  {% include common_head.html %}
  <meta name="description" content="{{ site.description }}" />
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_US">
  <meta property="og:url" content="https://pricelessai.com">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image" content="{{ site.url }}/assets/PricelessAI_Logo.png">
</head>

<body>
  {% include header.html %}
  <section class="home">
    <p class="description">
      We augment <strong>off-the-shelf</strong> robotic arms with an <strong>intelligence layer</strong> and a <strong>user-friendly</strong> way to <strong>teach</strong> them new tasks in <strong>less than 10 mins</strong> of human demonstrations.
    </p>

    <p class="description">
      We are raising a seed round to build the technology and are looking for <strong>angel investors</strong> (SEIS compliant) and <strong>VCs</strong> to join us on our journey.
    </p>

    <p class="description">
      If you are interested in learning more, please <a href="mailto:funding@pricelessai.com" class="email">email us</a>.
    </p>

    <p class="description">
      <a href="https://www.linkedin.com/in/ahmadbaracat/" target="_blank">Ahmad Baracat</a> and <a href="https://www.linkedin.com/in/wuyang-l-5257279b/" target="_blank">Wuyang Li</a>
    </p>

    <!-- <p class="description">
      <a href="https://www.linkedin.com/company/priceless-ai/" target="_blank">LinkedIn</a> | <a href="https://twitter.com/priceless_ai" target="_blank">Twitter</a>
    </p> -->

    <p class="description">
      <a href="https://show.zohopublic.eu/publish/1k06rb5fbe65373624133b10a0b40b98b708a" target="_blank">Pitch Deck</a>
    </p>



  </section>
  <article></article>
  {% include footer.html %}
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="assets/smooth_scrolling.js"></script>