---
layout: null
---
<html>

<head>
  <title>Warehouse AI that learns from humans, not code</title>
  {% include common_head.html %}
  <meta name="description"
    content="ko-br transforms standard robotic arms into adaptive workers for palletizing and kitting—without programming. Self-healing, vision-guided, and human-taught." />
  <meta property="og:title" content="Warehouse AI that learns from humans, not code.">
  <meta property="og:description"
    content="ko-br transforms standard robotic arms into adaptive workers for palletizing and kitting—without programming. Self-healing, vision-guided, and human-taught.">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_US">
  <meta property="og:url" content="{{ page.url | remove: '.html' | absolute_url }}">
  <meta name="twitter:title" content="Warehouse AI that learns from humans, not code.">
  <meta name="twitter:description"
    content="ko-br transforms standard robotic arms into adaptive workers for palletizing and kitting—without programming. Self-healing, vision-guided, and human-taught.">
  <meta name="twitter:image" content="{{ site.url }}/assets/investor_memo_banner.png">
  <meta name="og:image" content="{{ site.url }}/assets/investor_memo_banner.png">
</head>

<body>
  {% include header.html %}
  <section class="manifesto">


    <h1>
      Warehouse AI that learns from humans, not code.
    </h1>

    <p class="description">
      ko-br transforms standard robotic arms into adaptive workers for palletizing and kitting—without programming.
      Self-healing, vision-guided, and human-taught.
    </p>

    <p class="description">
    <div style="padding:54.72% 0 0 0;position:relative;"><iframe
        src="https://player.vimeo.com/video/1070768609?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
        style="position:absolute;top:0;left:0;width:100%;height:100%;" title="ko-br Intro #1"></iframe></div>
    <script src="https://player.vimeo.com/api/player.js"></script>
    </p>

    <p class="description">
      Investors, we're raising a <strong>£2M</strong> pre-seed, with a projected <strong>£1B
      </strong>valuation in 4 years. Interested?
      Read our <button style="font-size: 0.7em;" class="cta-button"
        onclick="window.open('{{ site.url }}/manifesto', '_blank'); fathom.trackEvent('pre_seed_manifesto_click');">
        manifesto
      </button> to learn more about the why, go through our <button style="font-size: 0.7em;" class="cta-button"
        onclick="window.open('{{ site.url }}/investor-memo', '_blank'); fathom.trackEvent('pre_seed_memo_click');">
        investor memo</button>
      and <button style="font-size: 0.7em;" class="cta-button"
        onclick="window.open('https://docs.google.com/presentation/d/1sJylpuVKsRxMpwnEZ7a0jwjt9VzsmTL52mNlH3xs4NA/edit?usp=sharing', '_blank'); fathom.trackEvent('pre_seed_pitch_deck_click');">
        pitch deck
      </button>
    </p>

    <!-- <p class="description">
      <a href="https://www.linkedin.com/in/ahmadbaracat/" onclick="fathom.trackEvent('ahmad_linkedin_click');" target="_blank">Ahmad</a>
    </p> -->

    <!-- <p class="description">
      <a href="https://docs.google.com/presentation/d/1sJylpuVKsRxMpwnEZ7a0jwjt9VzsmTL52mNlH3xs4NA/edit?usp=sharing" onclick="fathom.trackEvent('pitch_deck_click');" target="_blank">Pitch Deck</a>
    </p> -->

    <!-- <p class="description">
      <button class="cta-button"
        onclick="window.open('https://docs.google.com/presentation/d/1sJylpuVKsRxMpwnEZ7a0jwjt9VzsmTL52mNlH3xs4NA/edit?usp=sharing', '_blank'); fathom.trackEvent('pitch_deck_click');">
        Pitch Deck
      </button>
    </p> -->
    <!-- <br> -->
    <!-- <p class="description">
      Interested in learning more? please fill out the form below 👇🏼
    </p>

    <div data-tf-live="01JQ8T552TF45M5G2FRY0FAV8A"></div> -->
  </section>
  <article></article>
  {% include footer.html %}
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="assets/smooth_scrolling.js"></script>