<div class="top-banner">
  <div class="banner-content">
    <!-- <span class="banner-text">Special announcement or promotional text here</span> -->
    <!-- <a href="https://your-custom-link.com" class="banner-button">Click Here</a> -->
    <p>We're raising a pre-seed round, interested in investing? please <a href="mailto:funding@ko-br.com" class="email" onclick="fathom.trackEvent('funding_email_click');">email us</a>.</p>
    <button class="cta-button" onclick="window.open('https://docs.google.com/presentation/d/1sJylpuVKsRxMpwnEZ7a0jwjt9VzsmTL52mNlH3xs4NA/edit?usp=sharing', '_blank'); fathom.trackEvent('pitch_deck_click');">
      Pitch Deck
    </button>
  </div>
</div>

<header>
  <img src="{{ site.baseurl }}/assets/PricelessAILogo.png" class="profile-img">
  <h1>
    <a href="/">
      ko-br
    </a>
  </h1>
</header>