<header>
  <img src="/assets/london_profile_circular_500.png" class="profile-img">
  <h1>
    <a href="/">
      Ahmad Baracat
    </a>
  </h1>

  <div class="sections">
    <a href="https://www.linkedin.com/in/ahmadbaracat" target="_blank" rel="external nofollow">
      <i class="icon-linkedin" aria-hidden="true"></i>
    </a>
    <a href="https://github.com/AhmadBaracat" target="_blank" rel="external nofollow">
      <i class="icon-github" aria-hidden="true"></i>
    </a>
    <a href="https://twitter.com/AhmadBaracat" target="_blank" rel="external nofollow">
      <i class="icon-twitter" aria-hidden="true"></i>
    </a>
  </div>

  <div class="sections">
    <a href="/essays">Essays</a>
    <a href="/courses">Teaching</a>
    <a href="/apps">Apps & Games</a>
    <a href="/reading">Reading</a>
  </div>

</header>