<header>
  <div class="top-banner">
    <div class="banner-content">
      <!-- <span class="banner-text">Special announcement or promotional text here</span> -->
      <!-- <a href="https://your-custom-link.com" class="banner-button">Click Here</a> -->
      <p>Interested in pre-seed round?</p>
      <button class="cta-button" onclick="window.open('{{ site.url }}/pre-seed-investors', '_blank'); fathom.trackEvent('investment_page_click');">
        Invest
      </button>
    </div>
  </div>
  <img src="{{ site.baseurl }}/assets/PricelessAILogo.png" class="profile-img">
  <h1>
    <a href="/">
      ko-br
    </a>
  </h1>
</header>